:root {
    --myOrange: rgb(252, 206, 3);
}

body {
    background-image: url('../img/redMount.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    /* overflow: hidden;  */
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    height: 100vh;
    width: 100%;
}

.hero-container {

    border-radius: 10px;
    background-color: rgba(141, 130, 130, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container h1 {
    font-size: 50px;
    color: var(--myOrange);
}
.hero-container h4{
    margin: 0;
}



a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0);



}

/* .icons a i:hover:nth-child(2n+1) {
    color: rgb(172, 185, 197) !important;
    box-shadow: 0px 0px 5px 5px white;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;

}

.icons a i:hover:nth-child(2) {
    color: rgb(172, 185, 197) !important;
    box-shadow: 0px 0px 5px 5px white;
    border-radius: 5px;
    text-decoration: none;

} */
.icons {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    gap:20px;
}


.icons a{
    display: inline-block;
    text-decoration: none;
}

.icons a i{
    padding: 10px; 
}

.icons a i:hover {
    color: rgb(172, 185, 197) !important;
    box-shadow: 0px 0px 5px 2px white; 
    border-radius: 50%;
    padding: 10px; 
}





.logo {
    display: flex;
    flex-direction: row;

}

.my-custom-row {
    background-color: rgba(254, 255, 255, 0.479);
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px 10px rgba(254, 255, 255, 0.479);
}

.about-me {
    font-size: 20px;
}

.about-me h2 {
    text-align: center;
    color: var(--myOrange);
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    width: 200px;
    margin: 60px auto;

}

.hi-there {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-top-right-radius: 20px;

}

.hi-there h4 {
    color: var(--myOrange);
}

.hi-there p {
    margin-bottom: 0;
}

.hi-there ul {
    list-style: none;
    line-height: 2rem;
    padding-bottom: 30px;
}

.hi-there ul li:before {
    content: '✓';
    padding-right: 5px;

}

.hi-there a {
    outline: none;
    /* background-image: linear-gradient(to right, red , yellow); */
    background-color: var(--myOrange);
    color: black;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 600;
}



.shine-through-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent, rgba(255, 255, 255, 0.5));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.shine-through-btn:hover {
    background-color: orange; /* Maintain the button color on hover */
}

.shine-through-btn:hover::before {
    opacity: 1;
}
.hi-there a:hover{
    cursor: pointer;
    animation-name: myBlink;
    animation-duration: 0.4s;
    transition: linear ease-in-out;
}


@keyframes myBlink {
    0% { background-image: linear-gradient(135deg, white,  var(--myOrange), var(--myOrange),var(--myOrange),var(--myOrange));}
    17% { background-image: linear-gradient(135deg,var(--myOrange), white, var(--myOrange) , var(--myOrange), var(--myOrange), var(--myOrange));}
    28% { background-image: linear-gradient(135deg, var(--myOrange),var(--myOrange) ,white , var(--myOrange), var(--myOrange), var(--myOrange));}
    51% { background-image: linear-gradient(135deg, var(--myOrange),var(--myOrange),var(--myOrange), white , var(--myOrange), var(--myOrange));}
    72% { background-image: linear-gradient(135deg,var(--myOrange),var(--myOrange),var(--myOrange),var(--myOrange), white , var(--myOrange));}
    100% {background-image: linear-gradient(135deg, var(--myOrange), var(--myOrange),var(--myOrange), var(--myOrange),  white );}
  }
.modal{
  color:black;
    background-color: #7b797999;
}
.modal-content{
    background-color: rgb(249, 249, 238);

}
.modal-footer a{
    
    color: black;
 box-shadow: 2px 2px 2px  black;
font-size: 16px;
background-color: rgb(227, 227, 222);
}

.modal-footer a:hover{
    background-color: rgba(34, 107, 201, 0.411);
}

.show-modal{
    cursor: pointer;

}

.show-modal img:hover{
    box-shadow: 7px 2px 10px 5px grey;
}